@CHARSET "UTF-8";

body{
/*	background-color: #CECEF6;*/
	background-color: #E0E6F8
}

/* centrage du site*/
.divbody{
	max-width:960px;
	margin:auto;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow:#464040 0px 0px 15px;
}

li{
	list-style-type: none;
}

header{
	display: flex;
	justify-content: space-around;
}

.menu{
	width: 100%;
	display: flex;
}

.elementMenu{
	display: flex;
	justify-content: space-around;
}


.article{
	border-top: darkred solid 2px;	
}

.headerArticle{
	display: flex;
	justify-content: space-between;
}

.champsAjoutPanier{
	width: 40px;
}

.imageEtInfos{
	display: flex;
	background-color: lightgrey;
	border-top: darkgrey solid 3px;
	border-bottom: darkgrey solid 3px;
	
}

.imageArticle{
	width: 15%;
}

.imageArticle img{
	width: 100%;
	margin: 10px;
}

.infosArticle{
	width: 70%;
}

.descriptionArticle{
	width: 90%;
	flex-direction: column;
}


